.wizard .steps ul li.disabled a .step {
  border: none !important;
}

.wizard .steps .current-info {
  display: block !important;
}

ul {
  list-style-type: none;
}

table thead {
  border:  1px soldi lightgrey;
}

table th {
  border: 1px solid lightgrey;
}