.wizard .steps ul li.disabled a .step {
  border: none !important;
}

.wizard .steps .current-info {
  display: block !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table thead {
  border:  1px soldi lightgrey;
}

table th {
  border: 1px solid lightgrey;
}

.hero {
  background-position: center;
  background-size: cover;
  margin-bottom: -20px;
  padding: 8% 0 !important;
  width: 100%;
}

.footer {
  position: relative !important;
  left: 0 !important;
}